@model PagedList.IPagedList<Forum.Models.ForumComment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @ViewBag.PostTitle;
}

<div class="jumbotron">
    <h3>@ViewBag.PostTitle</h3>
    <br />
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ForumUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>

                    @if (User.IsInRole("admin") || item.ForumUserId == @ViewBag.User)
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID, item = item }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID, item = item })
                        </div>
                    }
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        if (User.Identity.IsAuthenticated)
        {
            @Html.Hidden("ForumPostId", @ViewBag.ForumPostId as string)
            @Html.Hidden("ForumUserId", @ViewBag.User as string)
            @Html.TextAreaFor(model => model.FirstOrDefault().Text, new { value = "", placeholder = "New comment", @class = "form-control", style = "width: 100%; max-width: 100%;" })
            <input type="submit" class="btn btn-outline-secondary" value="Add" />
        }
        else
        {
            <div>
                Please @Html.ActionLink("Log in", "Login", "Account", new { returnURL = "/Home/Comments/" + @ViewBag.ForumPostId }, null) for adding new comment
            </div>
        }
    }
    <br />
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Comments", new { page }))

    @Html.ActionLink("Back to Posts", "Posts", new { id = @ViewBag.ForumCategoryId })

    <script type="text/javascript">
        $(function () {
            $("#Text").html("");
        });
    </script>
</div>

