@model Forum.Models.ForumModel

@{
    ViewBag.Title = "Edit";
}

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

    <div>
        @Html.Label("Edit:")
        <br />
        @Html.EditorFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    }
</div>
