@model PagedList.IPagedList<Forum.Models.ForumCategory>
@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Forum";
}

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        if (User.IsInRole("admin"))
        {
            <br />@Html.Label("Add new category")
            <br />@Html.TextBox("Text")
            @Html.ValidationMessage("Text")
            <br /><input type="submit" value="Add" />
        }
    }
    <br />

    <table class="table">
        <tr>
            <th>
                Categories
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        @Html.ActionLink(Convert.ToString(Html.DisplayFor(modelItem => item.Text)), "Posts", new { id = item.ID })
                    </div>
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID, item = item, page = Model.PageNumber }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID, item = item })
                    </div>
                    }
                </td>
            </tr>
        }
    </table>

    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>