@model Forum.Models.ForumCategoryViewModel
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Forum";
}

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        if (User.IsInRole("admin"))
        {
            <div class="input-group mb-3">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Categories.FirstOrDefault().Text, new { @Value = "", maxlength = 100, placeholder = "New category", @class = "form-control" })
                <input class="btn btn-outline-secondary" type="submit" value="Add" />
            </div>
        }
    }
    <br />

    <table class="table">
        <tr>
            <th>
                Categories
            </th>
            <th>
                Discussions
            </th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    <div>
                        @Html.ActionLink(Convert.ToString(Html.DisplayFor(modelItem => item.Text)), "Posts", "Post", new { id = item.ID }, null)
                    </div>
                </td>
                <td>
                    <div>
                        @Model.Posts.Where(i => i.ForumCategoryId == item.ID).Count()
                    </div>
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID, type = item, page = Model.Categories.PageNumber, returnURL = Request.Url.ToString() }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID, type = item, returnURL = Request.Url.ToString() })
                        </div>
                    }
                </td>
            </tr>
        }
    </table>

    @(Model.Categories.PageCount < Model.Categories.PageNumber ? 0 : Model.Categories.PageNumber) из @Model.Categories.PageCount

    @Html.PagedListPager(Model.Categories, page => Url.Action("Index", new { page }))
    
</div>