@model PagedList.IPagedList<Forum.Models.ForumPost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @ViewBag.PostsCategory;
}

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ForumUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Convert.ToString(@Html.DisplayFor(modelItem => item.Text)), "Comments", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (User.IsInRole("admin") || item.ForumUserId == @ViewBag.User)
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID, item = item }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID, item = item })
                        </div>
                    }
                </td>
            </tr>
        }

    </table>

    @using (Html.BeginForm())
    {
        if (User.Identity.IsAuthenticated)
        {
            <div class="input-group">
                @Html.Hidden("ForumCategoryId", @ViewBag.ForumCategoryId as string)
                @Html.Hidden("ForumUserId", @ViewBag.User as string)
                @Html.Label("New post:")
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextAreaFor(model => model.FirstOrDefault().Text, new { maxlength = 500, placeholder = "New title", @class = "form-control" })
                <input class="btn btn-outline-secondary" type="submit" value="Add" />
            </div>
        }
        else
        {
            <div>
                Please @Html.ActionLink("Log in", "Login", "Account", new { returnURL = "/Home/Posts/" + @ViewBag.ForumCategoryId }, null) for adding new post
            </div>
        }
    }

    <br />
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Posts", new { page }))

    @Html.ActionLink("Back to Categories", "Index", new { id = 1 })

    <script type="text/javascript">
        $(function () {
            $("#Text").html("");
        });
    </script>
</div>
