@model IEnumerable<Forum.Models.ForumComment>

@{
    ViewBag.Title = @ViewBag.PostTitle;
}

<div class="jumbotron">
    <h3>@ViewBag.PostTitle</h3>

    <table class="table">
        <tr>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ForumUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        @Html.Hidden("ForumPostId", @ViewBag.ForumPostId as string)
        @Html.Hidden("ForumUserId", "1")

        <br />@Html.Label("Add a comment:")
        <br />@Html.TextArea("Comment", "")
        <br /><input type="submit" value="Add" />
    }
    <br />
    @Html.ActionLink("Back to Posts", "Posts", new { id = @ViewBag.ForumCategoryId })
</div>

