@model PagedList.IPagedList<Forum.Models.ForumPost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @ViewBag.PostsCategory;
}

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ForumUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Convert.ToString(@Html.DisplayFor(modelItem => item.Text)), "Comments", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (User.IsInRole("admin") || item.ForumUserId == @ViewBag.User)
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID, item = item }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID, item = item })
                        </div>
                    }
                </td>
            </tr>
        }

    </table>

    @using (Html.BeginForm())
    {
        if (User.Identity.IsAuthenticated)
        {
            @Html.Hidden("ForumCategoryId", @ViewBag.ForumCategoryId as string)
            @Html.Hidden("ForumUserId", @ViewBag.User as string)
            <br />
            @Html.Label("Add new post (title):")
            <br />
            @Html.TextAreaFor(model => model.FirstOrDefault().Text, new { @Value = "", maxlength = 500 })
            @Html.ValidationMessage("Text", new { @class = "text-danger" })
            <br />
            <input type="submit" class="btn btn-default" value="Add" />
        }
        else
        {
            <div>
                Please @Html.ActionLink("Log in", "Login", "Account") for adding new post
            </div>
        }
    }
    <br />
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Posts", new { page }))

    @Html.ActionLink("Back to Categories", "Index", new { id = 1 })
</div>
